
<template name="families">
    <div class="contacts">
        {{#unless haveFamilies}}
            {{#if familiesReady}}
                <h4 class="alert alert-warning text-center">No Records</h4>
            {{/if}}
        {{else}}

        {{#each sortedFamilies}} 
            {{> family}}
        {{/each}}

        {{#if familiesReady}}
            {{#unless allFamiliesLoaded}}
                <a class="load-more" href="#">Load more</a>
            {{/unless}}
        {{else}}
            <div>{{> spinner}}</div>
        {{/if}}
        {{/unless}}
    </div> 
</template>

<template name="family">
    <div class="family case well well-sm">
        {{#if picture}}
          <img class="img-rounded contact-picture" src="{{picture}}" />
        {{else}}
           <i class="fa fa-user fa-3x"></i>
        {{/if}}
        {{firstname}} {{lastname}}
        {{#if tag}}<span class="label label-default tag tag-{{type}}">{{tag}}</span>{{/if}}
        Capacity: {{capacity}}
        {{#if commentsCount}}<span class="badge comments-count-badge">{{commentsCount}}</span>{{/if}}
    </div>
</template>
