
<template name="families">
    <div class="records">
        {{#unless haveFamilies}}
            {{#if familiesReady}}
                <h4 class="alert alert-warning text-center">No Family Records</h4>
            {{/if}}
        {{else}}

        {{#each sortedFamilies}} 
            {{> family}}
        {{/each}}

        {{#if familiesReady}}
            {{#unless allFamiliesLoaded}}
                <a class="load-more" href="#">Load more</a>
            {{/unless}}
        {{else}}
            <div>{{> spinner}}</div>
        {{/if}}
        {{/unless}}
    </div> 
</template>

<template name="family">
    <div class="record well well-sm">
        {{> familySummary }}
    </div>
</template>


<template name="familySummary">
    <div class="record-content">
        {{#if picture}}
          <img class="img-rounded contact-picture" src="{{picture.src}}" />
        {{else}}
           <i class="fa fa-user fa-3x"></i>
        {{/if}}
        <h3 class="record-name">{{name}}</h3> 
        {{#if tag}}<span class="label label-default tag tag-{{type}}">{{tag}}</span>{{/if}}
        <span class="age text-muted">Capacity: {{capacity}}</span>
        {{#if commentsCount}}<span class="badge comments-count-badge">{{commentsCount}}</span>{{/if}}
    </div>
</template>