
<template name="googleAuth">
    {{> docs}}
</template>

<template name="gdocs">
    <!-- OLD Google Docs  NOT IN USE!!!-->
    {{#if authorized}}
      {{> gDrive}}
    {{else}}
      <div class="containter text-center">
        <div class="alert alert-info">You need to have Google Drive access to use this application.</div>
        {{#if authorizing}}
            <button class="btn btn-warning" id="authorize">
                <i class="fa fa-google-plus-square"></i> Restart Authorization
            </button>
            {{> spinner}}
        {{else}}
            <button class="btn btn-success" id="authorize">
                <i class="fa fa-google-plus-square"></i> Authorize
            </button>
        {{/if}}
      </div>
    {{/if}}
</template>



<template name="docs">
    <div class="containter text-center">
        <h4>
            <a href="#">Doc Link 1</a>
        </h4>
        <h4>
            <a href="#">Doc Link 2</a>
        </h4>
        <h4>
            <a href="#">Doc Link 3</a>
        </h4>
    </div>
</template>