
<template name="home"> 
    <div class="home-container">
      {{#if currentUser}}
        <div class="home-buttons btn-group">
        <a href="{{pathFor 'cases'}}" class="btn btn-primary btn"><i class="fa fa-folder-open fa-lg"></i> Cases</a>
        <a href="{{pathFor 'docs'}}" class="btn btn-primary btn"><i class="fa fa-file-text fa-lg"></i> Documents</a>
        </div>
        {{> messages}}
        <p><small>
          <strong><a href="mailto:gregwolff@unamesa.org">Send Feedback</a></strong>
        </small></p>
      {{else}}
        <div class="jumbotron">
          <h3>Grades</h3>
          {{#if loggingIn}}
            <p>{{> spinner}}</p>
          {{/if}}
        </div>
      {{/if}}
    </div>
</template>