
<template name="loginTemplate">
    {{yield}}
</template>

<template name="login">   
  <div class="login-container container">
    {{#if loggingIn}}
            <h1>Grades</h1>
            <p>{{> spinner}}</p>
    {{else}}
        <h1>Grades</h1>
        <p class="text-center">
            {{#if doDemoLaunch}}
                <button type="button" class="btn btn-danger navbar-btn" id="demo">
                    <i class="fa fa-rocket fa-lg"></i> Launch Mobile Demo
                </button>
            {{else}}
                <button type="button" class="btn btn-success navbar-btn" id="login">
                    <i class="fa fa-google-plus fa-lg"></i> Login with Google
                </button>
            {{/if}}
        </p>
        <p><small><a href="mailto:gregwolff@unamesa.org">help?</a></small></p>
    {{/if}}
    <p><small>
        <a onclick="document.location='/';return false;">
            <i class="fa fa-refresh"></i> Reload
        </a>
    </small></p>   
  </div>
</template>