
<template name="contacts"> 
    <div class="records">
        {{#each sortedContacts}} 
            {{> contact}}
        {{/each}}

        {{#if contactsReady}}
            {{#unless allContactsLoaded}}
                <a class="load-more" href="#">Load more</a>
            {{/unless}}
        {{else}}
            <div>{{> spinner}}</div>
        {{/if}}
    </div> 
</template>

<template name="contact">
    <div class="record well well-sm">
        {{> contactSummary}}
    </div>
</template>
