<template name="bid">
    <div class="container">
        
        <form role="form">

            <div class="panel-group bid-accordion" id="accordion">
                
                <div class="panel panel-default">
                    <div class="panel-heading-small panel-heading">
                        <h4 class="panel-title">
                            <button class="btn btn-link" data-toggle="collapse" 
                                data-parent="#accordion" data-target="#collapseDocumentation">
                                Documentation
                            </button>
                        </h4>
                    </div>

                    <div id="collapseDocumentation" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{>bidDocumentation}}
                        </div>
                    </div>
                </div>
            
                <div class="panel panel-default">
                    <div class="panel-heading-small panel-heading">
                        <h4 class="panel-title">
                            <button class="btn btn-link" data-toggle="collapse" 
                                data-parent="#accordion" data-target="#collapseConsiderations">
                                Considerations
                            </button>
                        </h4>
                    </div>

                    <div id="collapseConsiderations" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{>bidConsiderations}}
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading-small panel-heading">
                        <h4 class="panel-title">
                            <button class="btn btn-link" data-toggle="collapse" 
                                data-parent="#accordion" data-target="#collapseSummary">
                                Summary
                            </button>
                        </h4>
                    </div>

                    <div id="collapseSummary" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{>bidSummary}}
                        </div>
                    </div>
                </div>

            </div>

            <button id="save-bid" type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i> Save BID
            </button>

            <button id="generate-bid" type="submit" class="btn btn-primary">
                <i class="fa fa-print"></i> Generate BID
            </button>
            
            <button id="create-mou" type="submit" class="btn btn-primary hidden">
                <i class="fa fa-pencil-square-o"></i> Create MOU
            </button>
            
            <!-- <button type="reset" id="reset" class="btn btn-default">Reset</button> -->
        </form>
    
    </div>
</template>

<template name="bidDocumentation">
    <div class="form-group">
        <label for="dcfId" class="control-label">DCF Family/Child #</label>
        <input type="text" class="form-control" value="{{dcfId}}" disabled />
    </div>

    <div class="form-group">
        <label for="childId" class="control-label">Child's Education ID</label>
        <input type="text" class="form-control" name="childId" value="{{BID.childId}}" placeholder="Education ID" required />
        <span class="help-block">Identifier used by school system for Child</span>
    </div>

    <div class="form-group">
        <label for="currentSchool" class="control-label">Current School and District</label>
        <input type="text" class="form-control" name="currentSchool" placeholder="Name of current school" value="{{BID.currentSchool}}" />
        <span class="help-block">Current School and Supervisory Union/School District</span>
    </div>

    <div class="form-group">
        <label for="previousSchools" class="control-label">Previous School(s)</label>
        <textarea class="form-control" name="previousSchools" placeholder="List of previous schools the child has attended">{{BID.previousSchools}}</textarea>
    </div>

    <div class="form-group">
          <label for="grade" class="control-label">Current Grade</label>
          <input type="number" name="grade" class="age-control form-control" min="1" max="12" value="{{BID.grade}}">
    </div>

    <div class="form-group">
        <label for="date" class="control-label">BID Meeting Date</label>
        <input type="date" class="form-control" name="date" placeholder="01/23/2013" value="{{bidDate}}" />
        <span class="help-block">Date of Best Interest Determination Meeting</span>
    </div>   
    
    <div class="form-group">
        <label for="bidAttendees" class="control-label">BID Meeting who Attended or was Consulted</label>
        {{> bidMeetingAttendees}}
        <span class="help-block">Please list who was consulted and/or who attended a meeting about BID.</span>
    </div>

    <div class="form-group">
        <label for="documentsUsed" class="control-label">Documents used for BID</label>
       {{#each documentsUsedForBid}}
            <div id="documentsUsedForBid">
                <input class="documentsUsedForBid" type="checkbox" key="{{key}}" {{checked}} /> {{key}}
            </div>
       {{/each}}
    </div>

    <div class="form-group">
        <label for="otherDocumentsUsed" class="control-label">Other documents used for BID</label>
        <textarea class="form-control" name="otherDocumentsUsed" 
        placeholder="List other documents used for the BID">{{BID.otherDocumentsUsed}}</textarea>
    </div>

</template>


<template name="bidMeetingAttendees">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th><th>Role</th><th>Contact Info</th><th></th>
            </tr>
        </thead>
        <tbody>
            {{#each attendees}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{role}}</td>
                    <td>{{contactInfo}}</td>
                    <td>
                        <button class="removeAttendee btn btn-link"><i class="fa fa-minus-circle"></i></button>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td>
                    <input type="text" class="form-control" id="newAttendeeName" placeholder="Name" />
                </td>
                <td>
                    <select id="newAttendeeRole" class="form-control">
                        <option>Role</option>
                        <option>Child</option>
                        <option>Child's Primary Parents</option>
                        <option>Child's Extended Family</option>
                        <option>Kin/Foster Family</option>
                        <option>DCF</option>
                        <option>Educator</option>
                        <option>GAL</option>
                        <option>Service Provider</option>
                        <option>Educational Surrogate</option>
                        <option>Other</option>
                    </select>
                </td>
                <td style="white-space:nowrap;">
                    <input type="text" class="form-control" id="newAttendeeContactInfo" placeholder="Contact Info" />
                </td>
                <td>
                    <button id="addAttendee" class="btn btn-link"><i class="fa fa-plus-circle"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</template>


<template name="bidConsiderations">

    {{#each considerations}}
     <div class="form-group">
        <label for="childBeliefs" class="control-label">
            {{label}}
            {{#if helpText}} 
                <button class="btn btn-link" data-toggle="popover" data-content="{{helpText}}" data-html="true"
                    data-placement="bottom auto" data-container='form' rel="popover" role="button">
                    <i class="fa fa-question-circle"></i>
                </button> 
            {{/if}}

            <div class="consideration-switch pull-right">
                <input type="radio" name="{{key}}_yesNo" value="yes" {{yes}}> Yes
                <input type="radio" name="{{key}}_yesNo" value="no" {{no}}> No
            </div>

        </label>
        <i>Key factors in decision:</i>
        <textarea class="form-control" id="{{key}}_factors" placeholder="{{placeholder}}">{{factors}}</textarea>
    </div>
    {{/each}}

</template>

<template name="bidSummary">

    <div class="form-group">
        <label for="bidSummary" class="control-label">
            BID Summary
        </label>
        <textarea class="form-control" name="bidSummary" 
        placeholder="Please summarize the key factors influencing the decision of the team">{{BID.bidSummary}}</textarea>
        <span class="help-block">Please summarize the key factors influencing the decision of the team above.</span>
    </div>

    <div class="form-group">
        <label for="teamRecommendation" class="control-label">Team Recommendation</label>
        
        <div class="radio">
          <label>
            <input type="radio" name="teamRecommendation" value="stayAtCurrentSchool"
                checked="{{#if stayAtCurrentSchool}}checked{{/if}}" >
            The student shall remain in the same school where the child is currently enrolled.
          </label>
        </div>
        
        <div class="radio">
          <label>
            <input type="radio" name="teamRecommendation" value="moveToNewSchool"
                checked="{{#if moveToNewSchool}}checked{{/if}}" >
            Based on the best interest determination, a change in school placement is needed.
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="teamRecommendation" value="teamDisagrees"
                checked="{{#if teamDisagrees}}checked{{/if}}" >
            The team disagrees on the best interest determination for the child. 
          </label>
        </div>

    </div>

    <div id="school-to-attend" class="form-group hidden">
        <label for="schoolToAttend" class="control-label">Name of School</label>
        <input type="text" class="form-control" value="{{BID.schoolToAttend}}" 
            name="schoolToAttend" placeholder="Name of school student will attend" />
    </div>

    <div id="su-sd" class="form-group hidden">
        <label for="susd" class="control-label">SU/SD</label>
        <input type="text" class="form-control" value="{{BID.susd}}" 
            name="susd" placeholder="Student ID" />
    </div>

    <div id="transportationProvidedBy" class="form-group hidden">
        <label for="transportationProvidedBy" class="control-label">
            Transportation will be provided by
        </label>
        <input type="text" class="form-control" value="{{BID.transportationProvidedBy}}" 
            name="transportationProvidedBy" 
            placeholder="Who will provide transportation for the child to the school" />
    </div>

    <div id="transportationPaidBy" class="form-group hidden">
        <label for="transportationPaidBy" class="control-label">
            Transportation will be paid by
        </label>
        <input type="text" class="form-control" value="{{BID.transportationPaidBy}}" 
            name="transportationPaidBy" 
            placeholder="Agency that will pay for transportation to the school" />
    </div>

    <div id="personEnrollingChild" class="form-group hidden">
        <label for="personEnrollingChild" class="control-label">
            Individual responsible for enrolling child in school
        </label>
        <input type="text" class="form-control" value="{{BID.personEnrollingChild}}" 
            name="personEnrollingChild" 
            placeholder="Individual responsible for enrolling child in school" />
    </div>

    <div id="teamDisagreeNextSteps" class="hidden">
        The next steps are:
        <ul>
            <li>
                DCF Social Worker sends supervisor and District Director all materials shared with local school authorities including the case plan and reasons for denial. DCF District Director shall forward this information to DCF Child Protection and Field Operations Director.
            </li>
            <li>
                The school district shall contact the AOE State Interagency Coordinator, send the same documentation and reasons for denial.
            </li>
        </ul>
    </div>

</template>


<template name="selectOption">
    <option value="{{key}}" {{selected}}>{{key}}</option>
</template>

<template name="slider">
    <div class="form-group">
        <label for="{{varName}}" class="control-label">{{description}}</label>
        <div>
            <input name="{{varName}}" class="make-switch" type="radio" {{value}}
                data-on-label="Yes" data-off-label="No">
        </div>
    </div>
</template>



