
<template name="generatedBid">

    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
          
            </ul>
            <h3 class="text-muted">Education Best Interest Determination Evaluation Form</h3>
        </div>
    
        <div class="row">
          <div class="col-lg-6">
          
            <p>
                <span class="field">Child’s Name:</span> 
                <span class="value">{{name}}</span>
            </p>
            <p>
                <span class="field">DCF Family / Child #:</span> 
                <span class="value">{{dcfId}}</span>
                <span class="field" style="margin-left:30px;">Child’s Education ID#:</span> 
                <span class="value">{{BID.edID}}</span>
            </p>
      

            <table width='610' border='1' BORDERCOLOR="#00000a" CELLPADDING='7' CELLSPACING='0'>
                
                <tr>
                    <td WIDTH=594 VALIGN=TOP style="padding: 10px;">
                        <p style="margin-bottom: 0in; font-size: 4;">
                            <b>Instructions:</b>
                        </p>
                        
                        <p style="margin-bottom: 0in; font-size: 3">    
                            This process is based on the assumption that a student should remain in their current school<sup><b>*</b></sup> 
                            <I><U>unless</U></I> the considerations on the following pages indicate that 
                            <I>a change of school placement is in the child’s best interest</I>.
                        </p>
                        
                        <ul>
                            <li>
                                <p style="margin-bottom: 0in; font-size: 3;">
                                    This form is to be filled out at the child’s date of placement and each time there is a c
                                    hange in living arrangement.
                                </p>
                            </li>
                            <li>
                                <p style="margin-bottom: 0in; font-size: 3;">
                                    Individuals with insight into the child’s educational best interest are encouraged to 
                                    participate in a BID meeting or conversation.
                                </p>
                            </li>
                            <li>
                                <p style="margin-bottom: 0in; font-size: 3;">
                                    You may use relevant information from recent meetings (i.e., EST, CSP, IEP or 504).
                                </p>
                            </li>
                        </ul>
                        
                        <p style="font-size: 3; margin-top: 15px;">
                            <sup><b>*</b></sup><I><B>Current school</B></I> is defined as the school the child is attending
                            <I>prior</I> to a change in living arrangement.
                        </p>
                    </td>
                </tr>
            </table>

            <p>
                <b>Please list who was consulted and/or who attended a meeting about BID.</b>
            </p>
            <table width="90%">
              <tr>
                <th width="33%"> Name </th>
                <th width="33%"> Title / Role </th>
                <th width="33%"> Contact Info </th>
              </tr>
              {{#each BID.bidAttendees}}
              <tr>
                <td>{{name}}</td>
                <td>{{role}}</td>
                <td>{{contactInfo}}</td>
              </tr>
              {{/each}}
            </table>

            <h3> Documentation and Records</h3>
            <p>Which of these were used for BID? <i>Check all that apply and include in chart: </i></p>
        
            <div class="row">
              <div class="col-md-4">
                {{#each documentsUsedForBid}}
                    <div class="checkbox">
                      <label>
                        <i class="fa fa-{{checked}}square-o"></i>
                        {{key}}
                      </label>
                    </div>
                {{/each}}
              </div>
            </div>
            <table class="other-docs" CELLPADDING=7 CELLSPACING=0>
                <tr>
                    <td width='594' valign='top'>{{BID.otherDocumentsUsed}}</td>
                </tr>
            </table>

            <TABLE WIDTH=655 BORDER=1 BORDERCOLOR="#00000a" CELLPADDING=7 CELLSPACING=0 STYLE="page-break-before: always">
                <THEAD>
                    <TR VALIGN=TOP>
                        <TD WIDTH=552 BGCOLOR="#808080" style="padding-top:5px;">
                            <p style="color:#ffffff; font-size:4; margin-left:10px;">
                                <B>Considerations</B>
                            </p>
                        </TD>
                        <TD WIDTH=30 BGCOLOR="#808080" style="padding-top:5px;">
                            <p ALIGN=CENTER style="color:#ffffff; font-size:3">
                                <b>Yes</b>
                            </p>
                        </TD>
                        <TD WIDTH=29 BGCOLOR="#808080" style="padding-top:5px;">
                            <p ALIGN=CENTER style="color:#ffffff; font-size:3">
                                <B>No</B>
                            </p>
                        </TD>
                    </TR>
                </THEAD>
                <TBODY>

                    {{#each considerations}}
                    <TR VALIGN=TOP>
                        <TD WIDTH=552>
                            <OL START={{index}}>
                                <li>
                                    <p STYLE="margin-bottom: 0in; font-size:3;">
                                        <B>{{label}}</B>
                                    </p>
                                </li>
                            </OL>
                            {{#if helpText}} 
                                {{{helpText}}}
                            {{/if}}
                            
                            <P STYLE="margin-bottom: 0in; font-size:3; margin-left:10px;">
                                <I>Key factors in decision:</I>
                            </P>
                            <P STYLE="margin-left: 0.25in; margin-bottom: 0in">
                                {{factors}}
                            </P>
                            <P STYLE="margin-left: 0.25in"><BR>
                            </P>
                        </TD>
                        <TD WIDTH=30>
                            <P CLASS="western" ALIGN=CENTER>
                                <i class="fa fa-{{yes}}square-o"></i>
                            </P>
                        </TD>
                        <TD WIDTH=29>
                            <P CLASS="western" ALIGN=CENTER>
                                <i class="fa fa-{{no}}square-o"></i>
                            </P>
                        </TD>
                    </TR>
                    {{/each}}

                </TBODY>
            </TABLE>

            <P CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
                <BR/>
            </P>
            <P CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%; font-size:4">
                <B>Best Interest Determination Summary</B>
            </P>
            <P CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%; font-size:3">
                Please summarize the key factors influencing the decision of the team below:
            </P>
            <TABLE WIDTH=610 BORDER=1 BORDERCOLOR="#00000a" CELLPADDING=7 CELLSPACING=0>
                <COL WIDTH=594>
                <TR>
                    <TD WIDTH=594 HEIGHT=325 VALIGN=TOP>
                        {{BID.bidSummary}}
                    </TD>
                </TR>
            </TABLE>


            <h4> Education Best Interest Determination Recommendation of the Team</h4>

            <div class="checkbox">
                <label>
                  <i class="bid-rec fa fa-{{#if stayAtCurrentSchool}}check-{{/if}}square-o"></i>
                  <i>The student shall remain in the same school where the child is currently enrolled.</i>
                </label>
            </div>

            <P STYLE="margin-left: 0.25in; margin-top: 0.04in; margin-bottom: 0.04in; line-height: 100%; font-size:3;">
                <div class="row" STYLE="margin-left: 0.25in; padding:0px;">
                    <div class="col-xs-5" style="padding: 0px;">
                        School: <span class="school"> &nbsp; {{{currentSchool}}} &nbsp; </span> 
                    </div>
                    <div class="col-xs-5">
                        SU / SD: <span class="susd"> &nbsp; {{{currentSUSD}}} &nbsp; </span>
                    </div>
                </div>
            </P>

            <P STYLE="margin-left: 0.25in; margin-top: 0.2in; margin-bottom: 0.2in; line-height: 100%; font-size:3;">
                Transportation will be provided by: 
                <span class="bidInfo"> 
                    &nbsp; 
                    {{#if stayAtCurrentSchool}}
                        {{BID.transportationProvidedBy}}
                    {{else}} 
                        &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    {{/if}} 
                    &nbsp; 
                </span>
            </P>

            <P STYLE="margin-left: 0.25in; margin-top: 0.2in; margin-bottom: 0.2in; line-height: 100%; font-size:3;">
                Transportation will be paid for by what agency? &nbsp; 
                <span class="bidInfo"> &nbsp; 
                    {{#if stayAtCurrentSchool}}
                        {{BID.transportationPaidBy}}
                    {{else}} 
                        &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    {{/if}} &nbsp; 
                </span>
            </P>


            <div class="checkbox">
                <label>
                  <i class="bid-rec fa fa-{{#if moveToNewSchool}}check-{{/if}}square-o"></i>
                  <i>Based on the best interest determination, a change in school placement is needed (see below)</i>
                </label>
            </div>


            <P STYLE="margin-left: 0.25in; margin-top: 0.04in; margin-bottom: 0.04in; line-height: 100%">
                <FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                    <div class="row" STYLE="margin-left: 0.25in; padding:0px;">
                        <div class="col-xs-5" style="padding: 0px;">
                            School: <span class="school"> &nbsp; {{{newSchool}}} &nbsp; </span> 
                        </div>
                        <div class="col-xs-5">
                            SU / SD: <span class="susd"> &nbsp; {{{newSUSD}}} &nbsp; </span>
                        </div>
                    </div>
                </FONT></FONT>
            </P>


            <P STYLE="margin-left: 0.25in; margin-top: 0.04in; margin-bottom: 0.04in; line-height: 100%; font-size:3;">
                Individual responsible for enrolling child in school: &nbsp;
                <span class="bidInfo"> 
                    &nbsp; 
                    {{#if moveToNewSchool}}
                        {{BID.personEnrollingChild}}
                    {{else}} 
                         &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    {{/if}} &nbsp; 
                </span>
            </P>


            <P STYLE="margin-left: 0.25in; margin-top: 0.2in; margin-bottom: 0.04in; line-height: 100%; font-size:4;">
               <B>If a change in educational placement is needed:</B>
            </P>
            <OL>
                <LI>
                    <P STYLE="margin-bottom: 0in; line-height: 100%; font-size:3;">
                        The child’s school transfer date should be determined by the child’s best interest.  
                        Does it coincide with a logical juncture in the child’s academic or personal progress 
                        (e.g., after an event that is significant to the child or end of the school year)?
                    </P>
                </LI>
            </OL>
            
            <P CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
                <BR/>
            </P>

            <OL START=2>
                <LI>
                    <P STYLE="margin-top: 0.04in; margin-bottom: 0.04in; line-height: 100%; font-size:3;">
                        Enrollment in the new school should take place without interruption of the child’s
                        education, with all education records provided to the new school.
                        <I>(See interagency guidelines).</I>
                    </P>
                </LI>
            </OL>


            <div class="checkbox">
                <label>
                  <i class="bid-rec fa fa-{{#if teamDisagrees}}check-{{/if}}square-o"></i>
                  <i>The team disagrees on the best interest determination for the child. If so, next steps are:</i>
                </label>
            </div>

            <UL>
                <LI>
                    <P STYLE="margin-bottom: 0in; line-height: 100%; font-size:3;">
                        DCF Social Worker sends supervisor and District Director all materials shared 
                        with local school authorities including the case plan and reasons for denial. 
                        DCF District Director shall forward this information to DCF Child Protection 
                        and Field Operations Director.
                    </P>
                </LI>
                <LI>
                    <P STYLE="margin-bottom: 0in; line-height: 100%; font-size:3;">
                        The school district shall contact the AOE State Interagency Coordinator, 
                        send the same documentation and reasons for denial.
                    </P>
                </LI>
            </UL>


            <hr />

            <footer>
                <p>&copy; VTFutures 2014</p>
            </footer>

          </div> <!-- row? -->
        </div> <!-- row? -->
    </div> <!-- container -->

</template>
