
<template name="newNote">
    <span class="new-note-button-span">
        <button class="btn btn-default btn-sm" id="new-note-link" >
            <i class="fa fa-pencil fa-lg"></i>
        </button>
    </span>
    {{#if showNewNoteDialog}}
        {{> newNoteDialog}}
    {{/if}}
</template>

<template name="newNoteDialog">
    <div class="mask"></div>
     <!-- Modal -->
    <div id="newNoteModal">
        <div class="container"> 
            <form>
                <div class="dialog-header center-block">
                    <button type="button" class="btn btn-default btn-sm" id="cancel">Cancel</button>
                    <h5 class="text-center">{{title}}</h5>
                    <button type="submit" id="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
                <div class="dialog-body">    
                    <div class="form-group">
                        <textarea id="messageTextArea" name="message" 
                        placeholder="Type a new message"
                        class="form-control" rows="{{numberOfRows}}"></textarea>
                    </div>
                    <div class="form-group">
                        <button id="tag-input" class="btn btn-default btn-sm tag-btn"> # </button>
                        <button id="at-input" class="btn btn-default btn-sm tag-btn"> @ </button>
                        <!-- <label class="control-label">Tags : </label> -->
                        <span class="form-control-static">
                            {{#each tags}}
                                {{> noteTag}}
                            {{/each}}
                        </span> 
                    </div>      
                </div>
            </form>
        </div>
     </div>
</template>

<template name="noteTag">
    <span class='label label-default tag-{{type}}'>{{name}}</span>
</template>