
<template name="messages">
    <div class="message-center clearfix">
      {{> messagesList}}
    </div>
</template>


<template name="messagesList">
    {{#unless haveMessages}}
        {{#if messagesReady}}
            <h4 class="alert alert-warning text-center">No messages !</h4>
        {{/if}}
    {{else}}
        <div class="list-group">
            {{#each currentMessages}}
                {{> message}}
            {{/each}}
            {{#unless allMessagesLoaded}}
                {{> smallSpinner}}
            {{/unless}}
        </div>
    {{/unless}}
</template>  


<template name="message">
    <div class="message-item list-group-item clearfix">
        <div class="message">
            <div class="header">
                <span class="author">{{> author}}</span>
                <span class="date text-muted pull-right">{{submittedText}}</span>
            </div>
            <p class="body">
                {{{displayMessage}}}
            </p>
            <div class="footer">
            {{#each displayTags}}
                {{> tag}}
            {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="author">
    {{#if authorUrl}}
        <img class="img-rounded author-picture" src="{{authorUrl}}" />
    {{else}}
        <i class="fa fa-user fa-5x author-no-picture"></i>
    {{/if}}
    <strong>{{author}}</strong> <span class="flat-tag text-muted"><em>{{authorTag}}</em></span>
</template>

<template name="tag">
    <a href='{{pathFor path}}'>
        <span class='label label-default tag-{{type}}'>{{name}} <em>{{tag}}</em></span>
    </a>
</template>


