
<template name="googleDocs">
  <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Google Doc Testing</h3>
        </div>
        <div class="panel-body">
            Page for getting the google drive docs working with the site.
        </div>
    </div>
    <div class="panel panel-default filelist">
        <div class="panel-heading">
            <h3 class="panel-title">Current Application Files</h3>
        </div>
        <div class="panel-body">
            {{> fileList}}
        </div>
    </div>
   <p>
        <a class="btn btn-success" href="{{pathFor 'newGoogleDoc'}}">
            <i class="fa fa-pencil-square-o"></i> New Document
        </a>
    </p>
    </div>
</template>

<template name="fileList">
    {{#if haveFiles}}
    <ul class="list-group">
        {{#each files}}
            {{> fileItem}}
        {{/each}}
    </ul>
    {{else}}
        <div>No application files</div>
    {{/if}}
</template>

<template name="fileItem">
    <li class="list-group-item">
        <a target="_blank" href="{{alternateLink}}">
        <i class="fa fa-file fa-lg pull-left"></i>
        <span>{{title}}</span>
        </a>
        <span class="text-muted file-date-string"><small>{{dateString}}</small></span>
        <a target="_blank" class="pull-right" href="{{webContactLink}}">
            <i class="fa fa-download fa-lg pull-left"></i>
        </a>
    </li>
</template>