
<template name="googleDocs">
  <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Google Doc Testing</h3>
        </div>
        <div class="panel-body">
            Page for getting the google drive docs working with the site.
        </div>
        <button id="test" class="btn btn-link"><i class="fa fa-bug"></i></button>
    </div>
    {{#if authorized}}
      {{> gDrive}}
      <p>
        <a class="btn btn-success" href="{{pathFor 'newGoogleDoc'}}">
            <i class="fa fa-pencil-square-o"></i> New Document
        </a>
      </p>
      <p>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-success" id="new-folder">
                    <i class="fa fa-folder"></i> Create Folder
                </button>
            </span>
            <input type="text" id="new-folder-name" name="newFolderName" class="form-control" />
        </div>

      </p>
    {{else}}
        {{#if authorizing}}
            <button class="btn btn-warning" id="authorize">
                <i class="fa fa-google-plus-square"></i> Restart Authorization
            </button>
            {{> spinner}}
        {{else}}
            <button class="btn btn-success" id="authorize">
                <i class="fa fa-google-plus-square"></i> Authorize
            </button>
        {{/if}}  
    {{/if}}
  </div>
</template>

<template name="gDrive">
    <div class="panel panel-default filelist">
        <div class="panel-heading">
            <div class="panel-title">
                <ol class="google-path breadcrumb">
                    {{#each path}}
                        {{#if last}}
                            <li class="active">{{title}}</li>
                        {{else}}
                            <li><a id="{{id}}" class="path-link {{class}}" href="#">{{title}}</a></li>
                        {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>
        <div class="panel-body">
            {{> gDriveFileList}}
        </div>
    </div>
</template>

<template name="gDriveFileList">
  {{#if loading}}
        {{> spinner}}
  {{else}}
    {{#if haveFiles}}
        {{#if haveFilesInCurrentDirectory}}
            <ul class="list-group">
            {{#each files}}
                {{> gDriveItem}}
            {{/each}}
            </ul>
        {{else}}
            <div class="text-muted">No files in this directory</div>
        {{/if}}
    {{else}}
        <div>No files.
            <small>
                You may need to
                <a href="#" id="authorize">authorize</a>.
            </small>
        </div>
    {{/if}}
  {{/if}}
</template>

<template name="gDriveItem">
    <li class="list-group-item">
        {{#if isaFolder}}
            <button class="folder btn btn-link">
                <img src="{{iconLink}}"/>
                <span>{{title}}</span>
            </button>
        {{else}}
            {{#if testingOk}}
                <button class="btn btn-link btn-xs read-file"><i class="fa fa-stethoscope"></i></button>
            {{/if}}
            <a target="_blank" href="{{alternateLink}}">
                <img src="{{iconLink}}"/>
                <span>{{title}}</span>
            </a>
        {{/if}}
            
        <span class="pull-right">
            {{#if deleteOk}}
            <button class="btn btn-link delete-file">
                <i class="fa fa-trash-o fa-lg"></i>
            </button>
            {{/if}}
            {{#if getDownLoadUrl}}
            <a target="_blank" href="{{getDownLoadUrl}}">
                <i class="fa fa-download fa-lg"></i>
            </a>
            {{/if}}
        </span>
        <div class="text-muted file-date-string"><small>{{dateString}}</small></div>
    </li>
</template>

