
<template name="googleDocs">
  <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Google Doc Testing</h3>
        </div>
        <div class="panel-body">
            Page for getting the google drive docs working with the site.
        </div>
    </div>
    {{#if authorized}}
    <div class="panel panel-default filelist">
        <div class="panel-heading">
            <h3 class="panel-title">
                <ol class="breadcrumb">
                    {{#each path}}
                        {{#if last}}
                            <li class="active">{{title}}</li>
                        {{else}}
                            <li><a id="{{id}}" class="path-link {{class}}" href="#">{{title}}</a></li>
                        {{/if}}
                    {{/each}}
                </ol>
            </h3>
        </div>
        <div class="panel-body">
            {{> fileList}}
        </div>
    </div>
      <p>
        <a class="btn btn-success" href="{{pathFor 'newGoogleDoc'}}">
            <i class="fa fa-pencil-square-o"></i> New Document
        </a>
      </p>
    {{else}}
        {{#if authorizing}}
            {{> spinner}}
        {{/if}}
            <button class="btn btn-success" id="authorize">
                <i class="fa fa-google-plus-square"></i> Authorize
            </button>
    {{/if}}
    </div>
</template>

<template name="fileList">
  {{#if loading}}
        {{> spinner}}
  {{else}}
    {{#if haveFiles}}
    <ul class="list-group">
        {{#each files}}
            {{> fileItem}}
        {{/each}}
    </ul>
    {{else}}
        <div>No application files.  <small>You may need to authorize.</small></div>
    {{/if}}
  {{/if}}
</template>

<template name="fileItem">
    <li class="list-group-item">
        {{#if isaFolder}}
            <a class="folder" href="#">
        {{else}}
            <a target="_blank" href="{{alternateLink}}">
        {{/if}}
        <img src="{{iconLink}}"/>
        <span>{{title}}</span>
        </a>
        <span class="pull-right">
            <a target="_blank" href="{{webContactLink}}">
                <i class="fa fa-download fa-lg"></i>
            </a>

            <a class="delete-file" href="#">
                <i class="fa fa-trash-o fa-lg"></i>
            </a>
        </span>
        <div class="text-muted file-date-string"><small>{{dateString}}</small></div>
    </li>
</template>

