
<template name="newGoogleDoc">

    <h4>Create a new Google document</h4>

    <form role="form">
        <div class="form-group">
            <label for="documentTitle">Document Title</label>
            <input type="text" class="form-control" name="documentTitle" placeholder="Enter title for document" />
        </div>
        <div class="form-group">
            <label for="documentBody">Body</label>
            <textarea class="form-control" rows="5" name="documentBody" placeholder="Enter body for the new document."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button id="cancel" class="btn btn-default">Cancel</button>
    </form>

</template>