<template name="bid">
    <div class="container">
        
        <form role="form">

            <div class="panel-group bid-accordion" id="accordion">
                
                <div class="panel panel-default">
                    <div class="panel-heading-small panel-heading">
                        <h4 class="panel-title">
                            <button class="btn btn-link" data-toggle="collapse" 
                                data-parent="#accordion" data-target="#collapseDocumentation">
                                Documentation
                            </button>
                        </h4>
                    </div>

                    <div id="collapseDocumentation" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{>bidDocumentation}}
                        </div>
                    </div>
                </div>
            
                <div class="panel panel-default">
                    <div class="panel-heading-small panel-heading">
                        <h4 class="panel-title">
                            <button class="btn btn-link" data-toggle="collapse" 
                                data-parent="#accordion" data-target="#collapseConsiderations">
                                Considerations
                            </button>
                        </h4>
                    </div>

                    <div id="collapseConsiderations" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{>bidConsiderations}}
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading-small panel-heading">
                        <h4 class="panel-title">
                            <button class="btn btn-link" data-toggle="collapse" 
                                data-parent="#accordion" data-target="#collapseSummary">
                                Summary
                            </button>
                        </h4>
                    </div>

                    <div id="collapseSummary" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{>bidSummary}}
                        </div>
                    </div>
                </div>

            </div>

            <button id="generate-bid" type="submit" class="btn btn-primary"><i class="fa fa-print"></i> Generate</button>

            <!-- <button type="reset" id="reset" class="btn btn-default">Reset</button> -->
        </form>
    
    </div>
</template>

<template name="bidDocumentation">
    <div class="form-group">
        <label for="dcfId" class="control-label">DCF Family/Child #</label>
        <input type="text" class="form-control" value="{{dcfId}}" disabled />
    </div>

    <div class="form-group">
        <label for="childId" class="control-label">Child's Education ID</label>
        <input type="text" class="form-control" name="childId" value="{{BID.childId}}" placeholder="Education ID" required />
        <span class="help-block">Identifier used by school system for Child</span>
    </div>

    <div class="form-group">
        <label for="currentSchool" class="control-label">Current School and District</label>
        <input type="text" class="form-control" name="currentSchool" placeholder="Name of current school" value="{{BID.currentSchool}}" />
        <span class="help-block">Current School and Supervisory Union/School District</span>
    </div>

    <div class="form-group">
        <label for="previousSchools" class="control-label">Previous School(s)</label>
        <input type="text" class="form-control" name="previousSchools" placeholder="List of previous schools the child has attended" value="{{BID.previousSchools}}" />
    </div>

    <div class="form-group">
          <label for="grade" class="control-label">Current Grade</label>
          <input type="number" name="grade" class="age-control form-control" min="1" max="12" value="{{BID.grade}}">
    </div>

    <div class="form-group">
        <label for="date" class="control-label">BID Meeting Date</label>
        <input type="date" class="form-control" name="date" placeholder="01/23/2013" value="{{bidDate}}" />
        <span class="help-block">Date of Best Interest Determination Meeting</span>
    </div>   
    
    <div class="form-group">
        <label for="date" class="control-label">BID Meeting who Attended or was Consulted</label>
        {{> bidMeetingAttendees}}
        <span class="help-block">Please list who was consulted and/or who attended a meeting about BID.</span>
    </div>

    <div class="form-group">
        <label for="reasonsForChange" class="control-label">Reasons for Change</label>
        <select name="reasonsForChange" class="form-control" multiple>
           {{#each reasonsForChangeSelect}}
                {{> selectOption}}
           {{/each}}
       </select>
    </div>

    <div class="form-group">
        <label for="reasonsForChangeComments" class="control-label">Document any of the above selected reasons</label>
        <textarea class="form-control" name="reasonsForChangeComments" 
        placeholder="documentation of reasons for change">{{BID.reasonsForChangeComments}}</textarea>
    </div>

    {{#each boolValues}}
        {{> slider}}
    {{/each}}

    <div class="form-group">
        <label for="documentsUsed" class="control-label">Documents used for BID</label>
        <select name="documentsUsed" class="form-control" multiple>
           {{#each documentsUsedSelect}}
                {{> selectOption}}
           {{/each}}
       </select>
    </div>

    <div class="form-group">
        <label for="otherDocumentsUsed" class="control-label">Other documents used for BID</label>
        <textarea class="form-control" name="otherDocumentsUsed" 
        placeholder="List other documents used for the BID">{{BID.otherDocumentsUsed}}</textarea>
    </div>

    <div class="form-group">
        <label for="newSchool" class="control-label">Name of New School</label>
        <input type="text" class="form-control" value="{{BID.newSchool}}" name="newSchool" placeholder="Name of new school if applicable" />
    </div>

</template>


<template name="bidMeetingAttendees">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th><th>Role</th><th>Contact Info</th><th></th>
            </tr>
        </thead>
        <tbody>
            {{#each attendees}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{role}}</td>
                    <td>{{contactInfo}}</td>
                    <td>
                        <button class="removeAttendee btn btn-link"><i class="fa fa-minus-circle"></i></button>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td>
                    <input type="text" class="form-control" id="newAttendeeName" placeholder="Name" />
                </td>
                <td>
                    <select id="newAttendeeRole" class="form-control">
                        <option>Role</option>
                        <option>Child</option>
                        <option>Child's Primary Parents</option>
                        <option>Child's Extended Family</option>
                        <option>Kin/Foster Family</option>
                        <option>DCF</option>
                        <option>Educator</option>
                        <option>GAL</option>
                        <option>Service Provider</option>
                        <option>Educational Surrogate</option>
                        <option>Other</option>
                    </select>
                </td>
                <td style="white-space:nowrap;">
                    <input type="text" class="form-control" id="newAttendeeContactInfo" placeholder="Contact Info" />
                </td>
                <td>
                    <button id="addAttendee" class="btn btn-link"><i class="fa fa-plus-circle"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</template>


<template name="bidConsiderations">

     <div class="form-group">
        <label for="childBeliefs" class="control-label">
            The child believes that remaining in their current school is in their best interest
        </label>
        <textarea class="form-control" name="childBeliefs" 
        placeholder="Key factors in decision">{{BID.childBeliefs}}</textarea>
         <span class="help-block">Consider social interactions,bullying, privacy issues, academics, extracurricular activities.</span>
    </div>

</template>

<template name="bidSummary">

    <div class="form-group">
        <label for="bidSummary" class="control-label">
            BID Summary
        </label>
        <textarea class="form-control" name="bidSummary" 
        placeholder="Please summarize the key factors influencing the decision of the team">{{BID.bidSummary}}</textarea>
    </div>

    {{#with remainInSchool}}
        {{> slider}}
    {{/with}}

</template>


<template name="selectOption">
    <option value="{{key}}" {{selected}}>{{key}}</option>
</template>

<template name="slider">
    <div class="form-group">
        <label for="{{varName}}" class="control-label">{{description}}</label>
        <div>
            <input name="{{varName}}" class="make-switch" type="radio" {{value}}
                data-on-label="Yes" data-off-label="No">
        </div>
    </div>
</template>



