
<template name="casePhotos">
    {{> photoUploadPreview }}
    {{#if haveImages}}
        {{#if imagesReady}}
            <div class="owl-carousel">
                {{#each images}}
                    {{> casePhoto}}
                {{/each}}
            </div>
        {{else}}
            {{> whiteSpinner}}
        {{/if}}
    {{/if}}
    {{#if imagesReady}}
        <p class="photo-upload">
            {{> photoUpload}}
        </p>
    {{/if}}
</template>


<template name="casePhoto">
    <div class="images-holder">
        <span class="image-container">
            <div class="image-title hide">{{title}}</div>
            <img name="{{name}}" filesize="filesize" orientation="{{orientation}}" 
                class="carousel-image  lazyOwl" data-src="{{_id}}" />
            {{#if caption}}
                <div class="image-caption hide">{{caption}}</div>
            {{/if}}
        </span>
    </div>
</template>