
<template name="caseForm">
  <form role="form">
      <div class="form-group">
          <label for="name" class="control-label">Name</label>
          <input type="text" class="form-control" name="name" value="{{name}}"
            placeholder="firstname optional:middlename lastname" required />
          <span class="help-block">A unique name for the child.  Include middle name or initial if needed.</span>
      </div>

      <div class="form-group">
          <label for="dcfId" class="control-label">DCF Family/Child#</label>
          <input type="text" class="form-control" name="dcfId" value="{{dcfId}}"
            placeholder="Enter the unique DCF Family/Child Number" required />
          <span class="help-block">A unique DCF Number for the Child.</span>
      </div>

      <div class="form-group">
        <label for="urgent" class="control-label">Urgent</label>
        <div>
          <input name="urgent" class="make-switch" type="radio" checked="{{#if urgent}}checked{{/if}}"
            data-on-label="Yes" data-off-label="No" />
        </div>
      </div>

      <div class="form-group">
        <label for="sex" class="control-label">Sex</label>
        <div>
          <input name="sex" class="make-switch" type="radio" value="male" {{isMale}}
              data-on-label="Male" data-off-label="Female">
        </div>
      </div>
    
      <div class="form-group">
        <label for="age" class="control-label">Age</label>
        <input type="number" name="age" class="age-control form-control" value="{{age}}">
      </div>

      <div class="form-group">
          <label for="contactName" class="control-label">Contact</label>
          <input type="text" class="form-control" name="contactName" value="{{contact.name}}"
          placeholder="Primary Contact's name for this child" />
      </div>
      <div class="form-group">
          <label for="contactNumber" class="control-label">Contact Number</label>
          <input type="tel" class="form-control" name="contactNumber" value="{{contact.number}}"
          placeholder="(555) 555-5555" />
      </div>
      <div class="form-group">
          <label for="location" class="control-label">Location</label>
          <textarea class="form-control" rows="3" name="location"
          placeholder="Enter current address of Child">{{location}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">{{#if name}}Save{{else}}Open{{/if}}</button>
      <button id="cancel" class="btn btn-default">Cancel</button>
  </form>
</template>