
<Template name="cases">
    <div class="cases">
        {{#if haveCases}}
            {{#each sortedCases}} 
                {{> case}}
            {{/each}}

            {{#if casesReady}}
                {{#unless allCasesLoaded}}
                    <a class="load-more" href="#">Load more</a>
                {{/unless}}
            {{else}}
                <div>{{> spinner}}</div>
            {{/if}}
        {{else}}
            <div class="well">
                <div class="text-center"><strong>No Cases ... </strong> <i class="fa fa-frown-o fa-lg"></i></div>
            </div>
        {{/if}}
    </div> 
</Template>


<Template name="case">
    <div class="case well well-sm">
        <div class="case-content">

            <h3 class="case-name">{{name}}</h3> 
            {{#if tag}}<a href="#"><span class="tag tag-case badge">{{tag}}</span></a>{{/if}}
            <span class="case-age text-muted">Age {{age}}</span>

            <p class="case-author text-muted">
                <em>submitted by {{author}}</em>
            </p>
        </div>
        <div class="case-btns pull-right">
            
            <a class="case-edit-btn btn btn-default btn-xs" 
                href="{{pathFor 'editCase' this}}">
                <i class="fa fa-pencil-square-o"></i>
            </a>

            <a class="case-notes-btn btn btn-xs btn-link"
                href="{{pathFor 'caseNotes' this}}" >
                <!-- <i class="fa fa-file-text-o"></i> 
                Notes -->
                <span class="badge comments-count-badge">{{commentsCount}}</span>
            </a>
        </div> 
    </div>
</Template>
