
<template name="cases">
    <div class="records">
        {{#if haveCases}}
            {{#each sortedCases}} 
                {{> case}}
            {{/each}}

            {{#if casesReady}}
                {{#unless allCasesLoaded}}
                    <a class="load-more" href="#">Load more</a>
                {{/unless}}
            {{else}}
                <div>{{> spinner}}</div>
            {{/if}}
        {{else}}
            {{#if casesReady}}
                <div class="well">
                    <div class="text-center">
                        <strong>No Cases ... </strong> <i class="fa fa-frown-o fa-lg"></i>
                    </div>
                </div>
            {{else}}
                <div>{{> spinner}}</div>
            {{/if}}
        {{/if}}
    </div> 
</template>


<template name="case">
    <div class="record well well-sm">

        {{> caseSummary}}

        <div class="btns pull-right">
            <!-- 
            <a class="case-notes-btn btn btn-xs btn-link"
                href="{{pathFor 'caseNotes' this}}" >
                <i class="fa fa-file-text-o"></i> 
                Notes
            </a>
             -->
             <span class="badge comments-count-badge">{{commentsCount}}</span>
        </div> 

    </div>
</template>


