<template name="viewCase">
    <div class="case-view">
        <div class="well record-view">
            {{#if isUrgent}}<span class="urgent badge">URGENT</span>{{/if}}
            {{#if tag}}<span class="tag tag-case badge">{{tag}}</span>{{/if}}
            <h4>{{name}}</h4>
            <a class="btn btn-primary btn-sm pull-right check-btn" href={{pathFor 'mou'}}>
                MOU
                {{#if MOU}}<span class="check"><i class="fa fa-check-square"></i></span>{{/if}}
            </a>
            <a class="btn btn-primary btn-sm pull-right check-btn" href={{pathFor 'bid'}}>
                BID
                {{#if BID}}<span class="check"><i class="fa fa-check-square"></i></span>{{/if}}
            </a>
        </div>

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDetails">
                            Case Details
                        </button>
                    </h4>
                </div>

                <div id="collapseDetails" class="panel-collapse collapse {{detailsIn}}">
                    <div class="panel-body">
                    <table class="table table-striped table-condensed">
                        <tbody>
                        {{#each case}}  
                        <tr class="">
                            <td class="td-key"><strong>{{key}} :</strong></td>
                            <td class="td-val">
                                <strong>{{value}}</strong>
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMessages">
                            Messages 
                        </button>
                        <button id="new-note-link" class="btn btn-default btn-xs pull-right"><i class="fa fa-pencil fa-lg"></i></button>
                    </h4>

                </div>

                <div id="collapseMessages" class="panel-collapse collapse {{messagesIn}}">
                    <div class="panel-body case-message-list">
                        {{> messages}}
                    </div>
                </div>
            </div>

        </div>

    </div>

</template>