<template name="viewCase">
    <div class="record-view">

        <div class="record well well-sm">

            {{> caseSummary}}
            
            <div class="btns pull-right">
                <a class="btn btn-primary btn-sm check-btn" href={{pathFor 'mou'}}>
                    MOU
                    {{#if MOU}}<span class="check"><i class="fa fa-check-square"></i></span>{{/if}}
                </a>
                <a class="btn btn-primary btn-sm check-btn" href={{pathFor 'bid'}}>
                    BID
                    {{#if BID}}<span class="check"><i class="fa fa-check-square"></i></span>{{/if}}
                </a>
            </div>
        </div>


        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading-small panel-heading">
                    <h4 class="panel-title">
                        <button class="btn btn-link" data-toggle="collapse" 
                            data-parent="#accordion" data-target="#collapseDetails">
                            Case Details
                        </button>

                        <a id="edit-link" class="btn btn-link btn-xs pull-right" href="{{pathFor 'editCase' this}}"><i class="fa fa-edit fa-2x"></i></a>
                    </h4>
                </div>

                <div id="collapseDetails" class="panel-collapse collapse {{detailsIn}}">
                    <div class="panel-body">
                    <table class="table table-striped table-condensed">
                        <tbody>
                        {{#each case}}  
                        <tr class="">
                            <td class="td-key"><strong>{{key}} :</strong></td>
                            <td class="td-val">
                                <strong>{{value}}</strong>
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading-small panel-heading">
                    <h4 class="panel-title">
                        <button class="btn btn-link" data-toggle="collapse" 
                            data-parent="#accordion" data-target="#collapseMessages">
                            Messages 
                        </button>
                        <button id="new-note-link" class="btn btn-link btn-xs pull-right"><i class="fa fa-comments-o fa-2x"></i></button>
                    </h4>

                </div>

                <div id="collapseMessages" class="panel-collapse collapse {{messagesIn}}">
                    <div class="panel-message-list">
                        {{> messages}}
                    </div>
                </div>
            </div>

        </div>

    </div>

</template>


<template name="caseSummary">
    <div class="record-content">
        {{#if picture}}
          <img class="img-rounded contact-picture" src="{{picture.src}}" />
        {{else}}
           <i class="fa fa-user fa-3x"></i>
        {{/if}}
        {{#if urgent}}<span class="urgent badge">URGENT</span>{{/if}}
        <h3 class="record-name">{{name}}</h3> 
        {{#if tag}}<span class="label label-default tag tag-case">{{tag}}</span>{{/if}}
        <span class="age text-muted">{{sex}} age {{age}}</span>

        <p class="record-author text-muted">
            <em>submitted by {{author}}</em>
        </p>
    </div>
</template>


