<template name="viewCase">
    <div class="container">
        <div class="well record-view">
            {{#if isUrgent}}<a href="#"><span class="urgent badge">URGENT</span></a>{{/if}}
            {{#if tag}}<a href="#"><span class="tag tag-case badge">{{tag}}</span></a>{{/if}}
            <h3>{{name}}</h3>
            <a class="btn btn-primary btn-sm pull-right" href={{pathFor 'mou'}}>MOU</a>
            <a class="btn btn-primary btn-sm pull-right" href={{pathFor 'bid'}}>BID</a>
        </div>

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDetails">
                            Case Details
                        </button>
                    </h4>
                </div>

                <div id="collapseDetails" class="panel-collapse collapse {{detailsIn}}">
                    <div class="panel-body">
                    <table class="table table-striped table-condensed">
                        <tbody>
                        {{#each case}}  
                        <tr class="">
                            <td class="td-key"><strong>{{key}} :</strong></td>
                            <td class="td-val">
                                <strong>{{value}}</strong>
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMessages">
                            Messages 
                        </button>
                    </h4>
                </div>

                <div id="collapseMessages" class="panel-collapse collapse {{messagesIn}}">
                    <div class="panel-body">
                        {{> messages}}
                    </div>
                </div>
            </div>

        </div>

    </div>

</template>